@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 bg-pastelYellow text-gray-800 font-playful;
  }
}

@layer components {
  .sprite {
    @apply w-8 h-8 border border-pastelPurple bg-no-repeat animate-spriteWalk;
    background-size: 96px 32px;
  }
  .sprite-hero {
    background-image: linear-gradient(
      to right,
      #c8f7c5 0 32px,
      #c1e1f7 32px 64px,
      #c8f7c5 64px 96px
    );
  }
  .sprite-monster {
    background-image: linear-gradient(
      to right,
      #ffd1dc 0 32px,
      #e4c1f9 32px 64px,
      #ffd1dc 64px 96px
    );
  }
}
